<!------------------------------------------------>
<!--                TOP BAR                     -->
<!------------------------------------------------>

<div class = 'row' id = 'navigation-bar'>
    <!-- ICON -->
    <div class = 'col-md-2 navigation-bar__logo'>
        <div class="container">
            <img src = '/images/icons8-psychology-64.png'>
        </div>
    </div>
    <!-- Search bar -->
    <div class = 'col-md-6 navigation-bar__search'>
        <div class="container">
            <input type="text" placeholder="     Search....">
        </div> 
    </div>
    <!-- Profile -->
    <div class = 'col-md-4 navigation-bar__profile'>  
        <div class="container">
                <img src = '/images/icons8-customer-96.png'>
        </div>
    </div>
</div>
