<% include partials/header.ejs %>
<!------------------------------------------------>
<!--                Main content                -->
<!------------------------------------------------>
    <div class="container" id = 'main-content' v-html = "data">
        
    </div>
<!------------------------------------------------>
<!--                Main content End            -->
<!------------------------------------------------>
<% include partials/footer.ejs %>
