<% include partials/header.ejs %>
<!------------------------------------------------>
<!--                Main content                -->
<!------------------------------------------------>
    <div class="container" id = 'main-content'>
        <div class="card newsfeed-card">
            <div class='newsfeed-card__top'>
                <div class="newsfeed-card__top-image">
                    <img src="https://instagram.fyvr2-1.fna.fbcdn.net/vp/e71f03a4b1e41b36ab77f5ddcb347673/5C8B9A5B/t51.2885-19/s150x150/44885401_295306307781183_7772622368773505024_n.jpg?_nc_ht=instagram.fyvr2-1.fna.fbcdn.net" alt="">
                    <span class="newsfeed-card__top-name"><a>Dev Singh</a></span>
                </div>
            </div>
            <div class="card-body newsfeed-card__image-div">
                <img src="https://wallpapercave.com/wp/wp1745097.jpg" alt="" class = 'newsfeed-card__image'>
            </div>
            <div class="card-footer text-muted">
                <!-- <img class="newsfeed-card__like" src="images/icons8-heart-outline-50.png"> -->
                <img class="newsfeed-card__like" src="images/icons8-heart-outline-80.png" alt="">
                <span>10</span>
            </div>
        </div>
    </div>
<!------------------------------------------------>
<!--                Main content End            -->
<!------------------------------------------------>
<% include partials/footer.ejs %>
